h1 {
    color: #333333;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 20px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: bold;
}
h3,
.h3 {
    font-size: 1.5em;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    display: block;
    font-weight: 600;
    margin: 0 0 0.5em;
    line-height: 1.4;
}
.h4,
h4 {
    font-size: 1.4rem;
}
.table-responsive {
    overflow: hidden;
}
.cart-table th {
    font-weight: normal;
    font-size: 18px;
}
.quantity {
    width: 18%;
}
.cart_row {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e6e6e6;
}

.cart__image img {
    display: block;
    width: 200px;
}
.cart__remove {
    display: block;
}
a,
.text-link {
    color: #d51c24 !important;
    text-decoration: none;
    background: transparent;
}
.cart-table td,
.cart-table th {
    padding: 30px 15px;
    border: none;
}
th,
td {
    text-align: left;
}
.h3 > a:hover {
    color: #430c0c !important;
}
.grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
}
textarea {
    width: 100%;
    border: 1px solid #aca9a9;
    padding: 8px 10px;
    border-radius: 0px;
    height: 120%;
}
.total {
    text-align: right;
}

.input-group button {
    background-color: #fff;
    color: #000;
    border: 1px solid #dee2e6;
    font-size: 24px;
    width: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn {
    display: inline-block;
    padding: 2px 10px;
    width: auto;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0px;
    background-color: #d51c24;
    color: #fff;
}
@media only screen and (min-width: 769px) {
    .large--hide {
        display: none !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .medium--hide {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .cart .cart-item {
        margin-bottom: 15px;
        border-bottom: 1px solid #e6e6e6;
    }

    .cart .cart-item .h4 {
        font-size: 16px !important;
        margin-bottom: 0px;
    }
    .cart .cart-item .price .h3 {
        font-size: 16px !important;
        color: #d51c24;
    }
    .quantity {
        width: 50%;
    }
    textarea {
        height: 95%;
    }
    .container {
        max-width: 90%;
    }
}

#checkoutBtn {
    color: white !important;
}

#checkoutBtn:hover {
    background-color: white;
    color: black !important;
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .h4,
    h4 {
        font-size: 1rem;
    }
    h3,
    .h3 {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
    .h4,
    h4 {
        font-size: 1rem;
    }
    h3,
    .h3 {
        font-size: 1.2em;
    }
    button[name="checkout"] {
        margin-top: 3px;
    }
}
