.dashboard {
    background-color: #a9171d;
    height: 100vh;
    padding: 30px 25px !important;
}
.dashboard h1 {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
}

.dashboard ul {
    list-style: none;
    padding-left: 0;
}
.majorList {
    margin-top: 20px;
}
.majorItem {
    padding: 10px 0;
}

.majorItem a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.majorItem i {
    padding-right: 10px;
}
.majorItem a:hover {
    color: #ff2e2e;
}
.active {
    color: #ff2e2e !important;
}

.products {
    background-color: #e7e7e7;
}

tr > td {
    font-size: 20px;
}

.productImage {
    width: 100px;
    height: 100px;
}
.productName {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-footer {
    border-top: 3px solid #a9171d !important;
}

@media only screen and (max-width: 990px) {
    .dashboard {
        height: 100% !important;
    }
}
