.page {
    height: 100vh;
}
.dashboard {
    background-color: #a9171d;
    padding: 30px 25px !important;
}
.dashboard h1 {
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
}

.dashboard ul {
    list-style: none;
    padding-left: 0;
}
.majorList {
    margin-top: 20px;
}
.majorItem {
    padding: 10px 0;
}

.majorItem a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.majorItem i {
    padding-right: 10px;
}
.majorItem a:hover {
    color: #ff2e2e;
}
.active {
    color: #ff2e2e !important;
}

.products {
    background-color: #e7e7e7;
}

tr > td {
    font-size: 20px;
}

.productImage {
    width: 120px;
    height: 130px;
}

td.truncate-text {
    max-width: 400px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.truncate-text > div {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
}
#editProduct .modal-content {
    width: 700px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-link {
    color: #333333;
    text-decoration: none;
    padding: 3px 15px;
    font-size: 25px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination .page-link:hover {
    background-color: #d51c24;
    color: #fff;
}

.pagination .active .page-link {
    background-color: #d51c24;
    color: #fff;
    border: 1px solid #d51c24;
}
.modal-body {
    padding: 50px;
}
input[type="file"] {
    width: 40% !important;
}
.form-group {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.form-group label {
    width: 30%;
}
.form-group input {
    width: 70%;
}
.form-group img {
    width: 100px !important;
    height: 100px !important;
}
@media only screen and (max-width: 990px) {
    .dashboard {
        height: 100% !important;
    }
}
